{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:import/warnings"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "moduleDirectory": ["node_modules", "src/", "gogo-react"]
      }
    }
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react", "react-hooks", "jsx-a11y", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-debugger": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "dot-notation": "off",
    "camelcase": "off",
    "react-hooks/rules-of-hooks": "error",
    "react/react-in-jsx-scope": "off",
    "import/newline-after-import": "off",
    "react-hooks/exhaustive-deps": 1,
    "no-console": "off",
    "react/prop-types": 0,
    "prettier/prettier": ["warn", { "endOfLine": "auto" }],
    "no-param-reassign": 0,
    "import/prefer-default-export": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}
